.selectShop {
    padding: 20px;
}

.shops {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;

    .shop {
        display: grid;
        grid-template-rows: 4fr 3fr;
        min-height: 300px;
        text-decoration: none;
        overflow: hidden;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        border-radius: 5px;

        img {
            height: 300px;
            object-fit: cover;
            object-position: center center;
            margin-bottom: 0;
            overflow: hidden;
        }
        .details {
            display: grid;
            justify-content: stretch;
            grid-template-areas: 
                "shopName shopName"
                "ownerName amount"
                "phone uid" 
                "address address";
            text-align: left;
            padding: 10px;

            >p, h4 {
                // border: 1px solid #bbb;
                padding: 2px;
                display: flex;
                align-items: center;
            }
            .shopName {
                justify-content: center;
                grid-area: shopName;
            }

            .ownerName {
                grid-area: ownerName;
            }

            .amount {
                grid-area: amount;
            }

            .phone {
                grid-area: phone;
            }

            .uid {
                grid-area: uid;
            }

            .address {
                grid-area: address;
            }
        }
    }
}